<div class="container mt-4">
    <h1 class="mb-4">Cadastro de Cursos</h1>
    <div class="row mb-3">
        <div class="col-md-10 mb-3">
            <form action="../cursosSearch/" method="post" class="d-flex" id="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" name="valorPesquisa" id="valorPesquisa" placeholder="Pesquisar...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 d-flex justify-content-end mb-3">
            <a href="../cursosCreate/" class="btn btn-success"><i class="bi bi-plus-circle"></i> Novo</a>
        </div>
    </div>

    <div class="row" id="card-list">
        {{#each cursos}}
        <div class="col-md-3 mb-4" id="card{{id}}">
            <div class="card h-100">
                <img src="http://localhost:3000/img/cursos/{{imagem_principal}}" class="card-img-top" alt="{{titulo}}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{titulo}}</h5>
                    <p class="card-text">{{conteudo}}</p> <!-- Display the content -->
                    <div class="imagens-internas">
                        {{#each imagens_internas}} <!-- Loop through internal images -->
                        <img src="http://localhost:3000/img/cursos/{{this}}" class="img-thumbnail mt-2" alt="Imagem Interna">
                        {{/each}}
                    </div>
                    <div class="d-flex mt-auto justify-content-between">
                        <a class="btn btn-secondary" href="../cursos/{{id}}"><i class="bi bi-pencil"></i> Editar</a>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{id}}">
                            <i class="bi bi-trash3"></i> Excluir
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Confirmação de Exclusão -->
        <div class="modal fade" id="confirmDeleteModal{{id}}" tabindex="-1"
            aria-labelledby="confirmDeleteModalLabel{{id}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmDeleteModalLabel{{id}}">Exclusão</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja excluir a curso: <strong>{{titulo}}</strong>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancelar</button>
                        <button type="button" class="btn btn-danger" onclick="confirmDeleteCurso({{id}})"><i class="bi bi-check-circle"></i> Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<!-- Scripts do formulário publicacao -->
<script src="../js/cursoScripts.js"></script>